.dice-box {
    position: absolute;
    top: 1em;
    right: 55%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 10rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: beige;
}

.total-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 25%;
    width: 20%;
    padding: .5em;
    top: 2.5rem;
    left: 4.5em;
    border: 2px solid rgba(0, 0, 0, .25);
    border-radius: 100px;
    background-color: aliceblue;
}

.total-text {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}